.app_sec {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .input__a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  input,
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  select {
    display: block;
    width: 103%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    background-color: #3f51b5;
    width: 120px;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
  }
  
  button[type="submit"]:hover {
    background-color: #1a237e;
  }
  
  /* Responsive design */
  @media (min-width: 768px) {
    main {
      display: flex;
      justify-content: center;
    }
  
    form {
      width: 50%;
    }
  }
  